<div class="content-grid-single">
<div class="profile-details" align="center">
<%= image_tag 'dummypic.png' %>
<h1>Abdelrahman Mahmoud</h1>
<p>Computer Science and Engineering student at the German Universty in cairo</p>
<p>a.mahmoud1994@gmail.com</p>
<hr>
<h3>Things I enjoy doing</h3>

<ul style="list-style-type: none;">
<li>Programming an Arduino chip</li>
<li>Watching animals</li>
<li>Working on projects with friends</li>
<li style="padding-left:20px;">Crash Bandicoot <%= image_tag 'crash.png' ,:style => "border:0px;border-radius:0px;height:50px;width:50px;padding-left:15px" %></li>
</ul>
</div>
</div>

