<div class="content-grid-single">
<div class="profile-details" align="center">
<%= image_tag 'aly-pp.jpg' %>
<h1>Aly Ahmed Ezz</h1>
<p>Computer Science and Engineering student at the German Universty in Cairo</p>
<p>alyezz94@gmail.com</p>
<p id='team-member-info'>Web junior developer </p>
</div>
</div>

