<div class="content-grid-single">
<div class="profile-details" align="center">
<%= image_tag 'hussein-pp.jpg' %>
<h1>Mohamed Hussein</h1>
<p>Computer Science and Engineering student at German University In Cairo</p>
<p>mohamed.hussein.aem@gmail.com</p>
<p id="id-team-member-info">Web Developer and Software engineer</p>
<p></p>
<p></p>
</div>
</div>

