<div class="content-grid-single">
<div class="profile-details" align="center">
<%= image_tag 'kady-pp.jpg' %>
<h1>Abdelrahman Hesham Elkady</h1>
<p>Computer Science and Engineering student at the German Universty in cairo</p>
<p>elkadyabdelrahman@gmail.com</p>
<p id='team-member-info'>Mobile and web junior developer , I <strong>Love</strong> Technology and always interested in learning new tools and technologies</p>
<hr>
<h3>Things I love</h3>

<ul style="list-style-type: none;">
<li>Java</li>
<li>Android</li>
<li>Python</li>
<li>Crash Bandicoot</li>
</ul>
</div>
</div>
