<div class="content-grid-single">
<div class="profile-details" align="center">
<%= image_tag 'kady-pp.png' %>
<h1>Abdelrahman Hesham Elkady</h1>
<p>Computer Science and Engineering student at the German Universty in cairo</p>
<p>elkadyabdelrahman@gmail.com</p>
<p id='team-member-info'>Mobile and web junior developer , I <strong>Love</strong> Technology and always interested in learning new tools and technologies</p>
<hr>
<h3>Things I love</h3>

<ul style="list-style-type: none;">
<li>Java</li>
<li>Android</li>
<li>Python</li>
<li style="padding-left:20px;">Crash Bandicoot <%= image_tag 'crash.png' ,:style => "border:0px;border-radius:0px;height:50px;width:50px;padding-left:15px" %></li>
</ul>
</div>
</div>
